<!-- indexer::stop -->
<div class="header-custom-template">
    <div class="header-navbar-row-0">
        <div class="inner d-flex ps-3 pe-3 pt-2 pb-2 align-items-center">
            <div class="ms-0 me-auto d-none d-sm-flex align-items-center header-backoffice-link">{{ insert_tag('link_open::geschaeftsstelle')|raw }}Zur Geschäftsstelle{{ insert_tag('link_close')|raw }}</div>
            <div class="ms-auto me-0 d-flex align-items-center">
                {% if has_logged_in_frontend_user() is same as true %}
                    <a href="/_contao/logout" data-href="/_contao/logout" class="trigger-ids-kill-session header-logout-link m-0 ms-2 me-4" title="Abmelden/Logout"><i class="fal fa-sign-out-alt me-2"></i>Abmelden</a>

                    <div class="ms-2 d-none d-sm-block small">Angemeldet als: {{ insert_tag('user::firstname') }} {{ insert_tag('user::lastname') }}</div>
                    <div class="ms-3 small">
                        <a href="{{ insert_tag('link_url::member-profile') }}" title="Mitgliederprofil bearbeiten">
                            {% set user = get_logged_in_frontend_user() %}
                            {{ insert_tag('image::'~getAvatarResourcePath(user)~'?width=32&height=32&mode=crop&class=rounded-circle')|raw }}
                        </a>
                    </div>
                    {% if has_logged_in_frontend_user() is same as true %}
                        <a href="{{ insert_tag('link_url::member-profile') }}" class="btn btn-sm btn-danger ms-2" title="Mitgliederprofil bearbeiten"><i class="fa fa-cog"></i><span class="d-inline">&nbsp;Profil</span></a>
                    {% endif %}
                {% endif %}

                {% if has_logged_in_frontend_user() is same as false %}
                    <div class="header-login-placeholder d-inline position-relative" style="width:120px">
                        <span class="placeholder-glow">
                            <span class="placeholder col-2"></span>
                            <span class="placeholder col-9"></span>
                        </span>
                    </div>
                    <button aria-haspopup="dialog" onclick="header.location.href='{{ insert_tag('link_url::member-login') }}'" class="header-login-button trigger-login-modal p-0 m-0 d-none ms-2" tabindex="0"><i class="fal fa-sign-in me-2"></i>Mitglieder-Login</button>
                    <script>
                        document.addEventListener("BootstrapModalReady", (event) => {
                            document.querySelector('.header-login-placeholder').remove();
                            document.querySelector('.header-login-button').classList.remove('d-none');
                        });
                    </script>
                {% endif %}

            </div>
        </div>

    </div>

    <div class="header-navbar-row-1">
        <div class="inner hide-from-print navbar navbar-expand navbar-dark flex-md-row bd-navbar align-items-center pt-0 pt-sm-2 pb-0 pb-sm-2">
            <div class="navbar-brand ms-3">
                <a href="" title="Gehe zur Startseite">
                    <img src="/files/theme-sac-pilatus/images/logos/logo-header.svg" class="logo-header" alt="Logo SAC-Pilatus">
                </a>
            </div>

            <!-- NAVBAR-START -->
            <div class="navbar-header d-none d-xl-flex align-items-center">
                <!-- indexer::continue -->
                {{ insert_tag('insert_module::307')|raw }}
            </div>
            <!-- indexer::stop -->
            <!-- NAVBAR-END -->

            <div class="header-button-container ms-auto d-flex align-items-center justify-content-end">

                <a href="{{ insert_tag('link_url::kurse') }}" class="d-none d-md-block btn btn-outline-dark ms-2"><i style="width:20px;font-size:1rem !important;" class="far fa-mind-share"></i> Kurse</a>
                <a href="{{ insert_tag('link_url::touren-trainings-und-anlaesse') }}" class="d-none d-md-block btn btn-danger ms-2 me-2"><i style="width:20px;font-size:1rem !important;" class="far fa-mountain"></i> Touren</a>

                <!-- Searchbar toggler -->
                <button class="btn btn-lg btn-link ps-2 ps-sm-3 pe-2 pe-2 pe-sm-3 ms-3 search-toggler" data-action="search-bar-toggle" aria-label="Suche" tabindex="0">
                    <i class="fal fa-search" aria-label="Suche" title="Suche"></i>
                </button>
                <!-- End Searchbar toggler -->

                <!-- Navbar toggler mobile -->
                <button class="navigation-toggler d-xl-none btn btn-lg btn-link ps-2 ps-sm-3 pe-2 pe-2 pe-sm-3 ms-2" aria-label="Navigation öffnen" tabindex="0">
                    <i class="fal fa-lg fa-bars"></i>
                </button>
                <!-- End Navbar toggler mobile -->

            </div>
        </div>
    </div>

    <!-- Search module -->
    <!-- indexer::continue -->
    {{ insert_tag('insert_module::353')|raw }}
    <!-- indexer::stop -->

</div>

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabelLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="d-block modal-title">Mitglieder-Login</h5><br>
                <!--<h6 class="d-block">und alle SAC-Pilatus Dienstleistungen nutzen</h6>-->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Login-Formular schliessen" tabindex="0"></button>
            </div>
            <div class="modal-body">
                <!-- indexer::continue -->
                {{ insert_tag('insert_module::396')|raw }}
                <!-- indexer::stop -->

                <div class="mt-5">
                    <h5>Mehrere Services, ein Login</h5>
                    <p>Mit deinem <strong>SAC-Login</strong> kannst du dich hier anmelden. <br>Falls du dein SAC-Konto noch nicht aktiviert hast, kannst du es mit deiner <strong>Mitgliedernummer</strong> und deinem <strong>PUK</strong> (Passwort) direkt aktivieren. Beide Angaben findest du auf deinem SAC-Mitgliederausweis.</p>

                    <h5 class="mt-4 d-block">Was ist das SAC-Login?</h5>
                    <p>In einem Flyer, welchen du unterhalb herunterladen kannst, werden alle Fragen rund um das SAC-Login beantwortet.</p>

                    <div class="d-block mt-1">
                        <p><a class="btn btn-sm btn-outline-danger" href="{{ insert_tag('file::c10f6425-84a3-11eb-a01f-02000a14001a') }}" download="SAC Login FAQ">Häufige Fragen rund um das SAC-Login</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    /**
     * Handle OAuth2 SSO login modal window
     */
    document.addEventListener('DOMContentLoaded', () => {
        const loginModal = document.getElementById('loginModal');

        if (loginModal) {
            const bsLoginModal = new bootstrap.Modal(loginModal, {});

            const buttons = document.querySelectorAll('.trigger-login-modal');

            for (const button of buttons) {
                button.addEventListener('click', e => {
                    e.preventDefault();
                    e.stopPropagation();
                    bsLoginModal.show();
                });
            }

            // Open login modal window on page reload after authentication errors
            if (loginModal.querySelector('.sac-oidc-error')) {
                bsLoginModal.show();
            }
        }
    }, false);

</script>
<!-- indexer::continue -->
