{% set button_versions = {'small-screens': 'd-inline-block d-md-none', 'large-screens': 'btn-lg d-none d-md-inline-block'} %}

{% set class = class|default('')|replace({'ce_hyperlink ': ''})|trim %}
{% for screen_size, css_classes in button_versions %}
<div onclick="document.location.href='{{ href }}'" role="button" class="mt-2 me-2 btn {{ css_classes }}{% if class %} {{ class }}{% endif %}" {{ cssID }}>
    {% if headline|default %}
        <{{ hl }}>{{ headline }}</{{ hl }}>
    {% endif %}

    {{ embed_pre|default('')|raw }}
    <a href="{{ href }}" class="d-inline hyperlink_txt" title="{{ linkTitle }}" {{ attribute|default('') }}{{ target }}{{ rel }}>{{ link }}</a>
    {{ embed_post|default('')|raw }}
</div>
{% endfor %}
