<!-- indexer::stop -->
<ul class="grid-card equal-height cols_{{ perRow }}">
    {% for row in body %}
        {% set class = loop.index %}
        {% for col in row %}
            {% if col.addImage|default and col.singleSRC|default %}
                {% set owner = mpf_getOwnerFromPath(col.singleSRC) %}
                {% set file = mpf_getFilesModelFromPath(col.singleSRC) %}
                {% if owner|default and file|default %}

                    <li class="grid-card-item {{ class }} {{ col.class }}" data-aos="fade-down" data-aos-duration="600" data-aos-once="true" data-aos-anchor-placement="top-bottom">
                        <div class="card">
                            <div class="p-2 d-flex fw-bold align-items-center">
                                {{ insert_tag('image::'~getAvatarResourcePath(owner)~'?width=32&height=32&mode=crop&class=rounded-circle')|raw }}
                                <p class="card-text small m-0 ms-2">von {{ owner.firstname }} {{ owner.lastname }}</p>
                            </div>
                            <figure class="image_container"{% if col.margin|default %} style="{{ col.margin }}"{% endif %}>
                                {% set sources = col.picture %}
                                {% if not sources.class is defined %}
                                    {% set sources = sources|merge({"class": ""}) %}
                                {% endif %}

                                {% if col.href|default %}
                                    <a href="{{ col.href }}"{{ col.attributes|raw }} title="{{ owner.firstname }} {{ owner.lastname }}: {{ col.caption }}">
                                        <div class="image-zoom-in">
                                            {% include '@Contao/picture_default' with sources %}
                                        </div>
                                    </a>
                                {% else %}
                                    <div class="image-zoom-in">
                                        {% include '@Contao/picture_default' with sources %}
                                    </div>
                                {% endif %}
                                {% if col.caption|default %}
                                    <figcaption class="caption">{{ owner.firstname }} {{ owner.lastname }}: {{ col.caption }}</figcaption>
                                {% endif %}
                            </figure>
                            <div class="card-body">
                                <p class="card-date m-0">
                                    <small>{{ file.tstamp|date("d.m.Y") }}</small>
                                </p>
                                <p class="mt-0 fw-bold small">
                                    {{ col.caption }}
                                </p>
                            </div>
                        </div>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
</ul>
<!-- indexer::continue -->
